
*.db
.vs/ZPR/v15/.suo
*.opendb
*.ipch
*.db-shm
*.db-wal
*.vcxproj
*.filters
*.cmake
*.rule
*.bin
*.exe
*.obj
*.tlog
*.check_cache
*.log
*.stamp
*.depend
*.list
*.sln
*.pc
googletest-download/CMakeFiles/Debug/googletest-complete
*.json
*.in
CMakeCache.txt
CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.16.2/VCTargetsPath.txt
CMakeFiles/TargetDirectories.txt
googletest-download/CMakeCache.txt
googletest-download/CMakeFiles/3.16.2/VCTargetsPath.txt
googletest-download/CMakeFiles/googletest.dir/Labels.txt
googletest-download/CMakeFiles/TargetDirectories.txt
googletest-download/CMakeLists.txt
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-build
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-configure
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-done
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-download
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-install
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-mkdir
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-patch
googletest-download/googletest-prefix/src/googletest-stamp/Debug/googletest-test
googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitclone-lastrun.txt
googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitinfo.txt
googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt
googletest-src/
ALL_BUILD.vcxproj.user
bin/Debug/gtest_maind.pdb
bin/Debug/gtestd.pdb
Debug/example.ilk
Debug/example.pdb
example.dir/Debug/vc141.pdb
example.vcxproj.user
lib/Debug/gtest_maind.lib
lib/Debug/gtestd.lib
test.dir/Debug/vc141.pdb
test.vcxproj.user
Debug/TravelingSalesmanExample.ilk
Debug/TravelingSalesmanExample.pdb
TravelingSalesmanExample/Debug/vc141.idb
TravelingSalesmanExample/Debug/vc141.pdb
TravelingSalesmanExample/TravelingSalesmanExample.vcxproj.user
Release/TravelingSalesmanExample.iobj
Release/TravelingSalesmanExample.ipdb
Release/TravelingSalesmanExample.pdb
TravelingSalesmanExample/Release/vc141.pdb
